
<nav>
    <% if(currentUser) { %>

        <a class="nav" href="/">Home</a>
        <form action="/sessions?_method=DELETE" method="post" style="float:right; margin-left: 1em;">
        <input class="log-out" type="submit" value="Log Out"/>
    </form>
    <% } else { %>
    <a class="nav" href="/">Home</a>
    <a class="nav" href="/users/new">Register</a>
    <a class="nav" href="/sessions/new">Login</a>
    <% } %>
</nav>