<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tracker | Create New Workout</title>
</head>
<body>
    <header>
        <h1>Edit <%= workout.name %> </h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/workouts">Workouts Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= workout.name%>"/>
            <input type="submit" value="Edit Workout">
        </form>
    </main>
</body>
</html>