<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <title>Workout Tracker | Create New Exercise</title>
</head>
<body>
    <div class="top-nav">
        <nav>
            <a href="/">Home</a>
            <a href="/exercises">Back to Exercises Index</a>
        </nav>
    </div>
    <h1>Create an Exercise</h1>
    <main>
        <div class="exercise-container">

            <form action="/exercises" method="post">
                <label for="createdFor">Workout:</label>
                <select name="createdFor" id="createdFor">
                    <% workouts.forEach(workout => { %>
                        <option value="<%=workout._id%>"><%=workout.name%> <%=new Date(workout.createdAt).toLocaleDateString() %></option>
                        
                    <% }); %>
    
    
    
    
                </select><br />
                <label for="name">Name:&ensp;</label>
                <input type="text" name="name" id="name"/><br />
                <label for="sets">Sets:&emsp;</label>
                <input type="number" name="sets" id="sets"/><br />
                <label for="reps">Reps:&ensp;</label>
                <input type="number" name="reps" id="reps"/><br />
                <label for="weight">Weight:</label>
                <input type="number" name="weight" id="weight"><br />
                <input class="button" style="margin-top:10px" type="submit" value="submit">
            
            
            </form>
        </div>
    </main>
</body>
</html>